HEADER_LOGO RCDATA "assets\uniwampheader.png"
ICON_add RCDATA "assets\icons\add_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_cancel RCDATA "assets\icons\cancel_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_check_circle RCDATA "assets\icons\check_circle_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_circle RCDATA "assets\icons\circle_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_code RCDATA "assets\icons\code_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_content_copy RCDATA "assets\icons\content_copy_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_database RCDATA "assets\icons\database_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_delete RCDATA "assets\icons\delete_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_delete_sweep RCDATA "assets\icons\delete_sweep_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_dns RCDATA "assets\icons\dns_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_edit_document RCDATA "assets\icons\edit_document_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_error RCDATA "assets\icons\error_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_folder RCDATA "assets\icons\folder_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_folder_open RCDATA "assets\icons\folder_open_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_javascript RCDATA "assets\icons\javascript_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_language RCDATA "assets\icons\language_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_lock RCDATA "assets\icons\lock_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_lock_open RCDATA "assets\icons\lock_open_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_open_in_new RCDATA "assets\icons\open_in_new_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_play_arrow RCDATA "assets\icons\play_arrow.png"
ICON_refresh RCDATA "assets\icons\refresh_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_restart_alt RCDATA "assets\icons\restart_alt_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_save RCDATA "assets\icons\save_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_settings RCDATA "assets\icons\settings_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_stop RCDATA "assets\icons\stop_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_terminal RCDATA "assets\icons\terminal_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_tune RCDATA "assets\icons\tune_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_unfold_less RCDATA "assets\icons\unfold_less_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_unfold_more RCDATA "assets\icons\unfold_more_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_warning RCDATA "assets\icons\warning_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
ICON_web RCDATA "assets\icons\web_24dp_1F1F1F_FILL1_wght500_GRAD0_opsz24.png"
